// main: main.scss

@font-face {
  src: url('../FONTS/Raleway/Raleway-Regular.ttf');
  font-family: 'Raleway';
}

@font-face {
  src: url('../FONTS/Raleway/Raleway-Bold.ttf');
  font-family: 'Raleway_Bold';
}

@font-face {
  src: url('../FONTS/Open_Sans/OpenSans-Regular.ttf');
  font-family: 'Open_Sans';
}

@font-face {
  src: url('../FONTS/Open_Sans/OpenSans-Bold.ttf');
  font-family: 'Open_Sans_Bold';
}
